# Raw and processed data
data/raw/
data/processed/
*.dta

# Output contents
outputs/tables/*
outputs/graphs/*
logs/*

# Keep folder structure
!outputs/tables/.gitkeep
!outputs/graphs/.gitkeep
!logs/.gitkeep

# Exported files
*.doc
*.docx
*.rtf
*.png
*.gph
*.ster

# Temporary files
*.tmp
*.bak

# Stata logs
*.log
*.smcl

# MacOS
.DS_Store

# Windows
Thumbs.db
